doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    h1=msg
    p Welcome to #{title}
    p 
      |Try accessing 
      a(href="/restricted") /restricted
      |, then authenticate with "tj" and "foobar".
    form(method="post" action="/login-check")
      p
        label Username:
        input(type="text" name="username")
      p
        label Password:
        input(type="text" name="password")
      p
        input(type="submit" value="Login")
