doctype html
html
  head
    block title
    link(rel='stylesheet', href='/node/css/g.css')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    block css
    block js
  body
    block top-nav
    block header
    block content
    block footer
    
